Body{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0;
}

.header{
    text-align: center;
    background-color: red;
    color:aliceblue
}